
// 1024
@media screen and (max-width:1080px) {
  .btn-type-small{
    &.more{
      min-width:100%;
      height: 40px;
      line-height:40px;
    }
  }
  .step-circle-list-item{
    width:calc(50% - 10px);

    .list-article{
      &.small{
        width: 139px;
        height: 139px;
      }
    }
  }

  .textbox-step{
    .step2{
      .textbox-title{
        line-height:1.7;
        margin-bottom:0;
      }
    }

    .textbox{
      width:100%;
      margin-left:0;
      float:none;
      margin-bottom:10px;

      .textbox-txt{
        min-height:inherit;
        padding:10px;
      }
      &:last-child{
        &:after{
          display:none;
        }
      }
      &:after{
        display:none;
      }
    }
    .textbox-stepico{
      padding-top:0;

      &:before{
        display:none;
      }
    }
  }

  .list5{
    &.border{
      padding:15px;
    }
  }
  .double-box {
    width:100%;
    &.right{
      padding-left:0;
    }
    &.ico {
      text-indent: 0;
      &:after {
        display:none;
      }
    }
    &-top {
      padding:10px 15px;
      font-weight:400;
    }

    &-bottom {
      .list1-item{
        font-size: 0.825rem;
      }
      padding: 15px;
    }
  }


  .massage{

    &-wrap{
      width:100%;
      height:auto;
      padding:15px;
      position: static;
      text-align:center;

    }

    &-txt-tit{
      br{
        display:none;
      }
      font-size: 1.5rem;
    }

    &-txt{
      font-size: 1rem;

      &:before{
       display:none;
      }
    }

    &-img{
      position: static;
      width: 50%;
      margin-bottom: 10px;
    }

    &-img2{
      position: static;
      width:100px;
    }

  }
  .history{
    text-align:center;
    &-txt{
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-ceo{
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-list{
      &-head{
        width:160px;
        float: left;
      }

      &-body{
        float:left;
      }
    }

  }

  /*이용일시*/
  .timesetting{
    display:block;
    &-etc{
      float:none;
    }
    &-time{
      float:none;
    }
    &-date{
      width:100%;
      float:none;
      &-text{
        height: 40px;
        line-height:40px;
      }
      &-day{
        width:calc(100% - 40px);
      }
      &-calendar {
        border-left:1px solid #d9d9d9;
        &:after {
          background-position: -99px -96px;
          width: 17px;
          height: 16px;
        }
      }
      &.long{
        width: 160px;
        .timesetting-date-day{
          width: 120px;
        }
      }
    }
    &-dash{
      width:100%;
      float: none;
      display:inline-block;
      text-align:center;
      margin:0;
    }
    .object-list{
      min-width: 100px;
    }
    .user-text{
      width: 177px;
      height: 40px;
      vertical-align: bottom;
    }
  }

  .input-align{
    width:100%;
    .capcha{
      width:50%;
      float:left;
      &:first-child{
        border-right:0!important;
      }
      &:nth-child(3){
        border-left:1px solid #d9d9d9;
      }
    }
    img{
      float:none;
      width:100%;
    }
    .user-input-text{
      width:100%!important;
    }
  }

  .banner{

    &-txt-tit{
      font-size: 1.125rem;
      padding:15px 15px 0;
    }

    &-txt-tit2{
      font-size: 1.125rem;
      padding-top: 10px;
    }

    &-txt2{
      font-size: 1rem;
      margin-bottom:15px;
    }
    &-txt{
      &.no-padding{
        padding:15px;
      }
    }
  }

  .enter {
    border:0;
    padding:0 15px;
    background: #fff;
  }

  .view-head-tit{
    &.complain-table{
      font-weight: normal;
      text-align: left;
      display:block;
      label{
        margin-bottom:10px;
      }

    }
  }


  // ir pakage
  .digr-co-history1{
    height: 178px;
    background-size:contain;
    background-position:center;
  }
  .digr-co-history2{
    height: 178px;
    background-size:contain;
    background-position:center;
  }
  .digr-co-history3{
    height: 210px;
    background-size:contain;
    background-position:center;
  }

  .digr-environment-system{
    height: 288px;
    background-size:contain;
    background-position:center;
  }

  .digr-environment-monitoring{
    height: 188px;
    background-size:contain;
    background-position:center;
  }

  .digr-noise-management{
    height: 114px;
    background-size:contain;
    background-position:center;
  }

  .digr-cp-vision01{
    height: 129px;
    background-size:contain;
    background-position:center;
  }
  .digr-cp-vision02{
    height: 129px;
    background-size:contain;
    background-position:center;
  }




}
