.sub-top{
  &-descbox{
    &-sub{
      color: #fff;
    }
  }
}

.board-page{
  font-size: 0.875rem;
  text-align: right;
  margin: 20px 0;
}

.text{
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
    .left{
      text-align: left;
    }
  }
  &-center{
    text-align: center;
  }
}

.applicant{
   &-name{
    width:213px;
    }

   &-count {
    width: 80px;
     }

    &-phone {
    width: 70px;
    }

  }

/*이용일시*/
.timesetting{
  width: 312px;
  @extend %clearfix;
  &-date{
    width: 140px;
    float: left;
    &-text{
      margin-top: 15px;
      height: 35px;
      line-height: 35px;
    }
    &-day{
      width: 100px;
      height: 40px;
      border: 1px solid #d9d9d9;
      border-right: 0;
      font-size: 0.9375rem;
      padding-left: 10px;
      color: #666;
      box-sizing: border-box;
      float: left;
    }
    &-calendar {
      width: 40px;
      height: 40px;
      border: 1px solid #d9d9d9;
      border-left:0;
      background: #fff;
      float: left;
      &:after {
        background-position: -99px -96px;
        width: 17px;
        height: 16px;
      }
    }
  }
  &-dash{
    float: left;
    margin:12px 10px;
  }
}

.banner{
  &-txt-tit{
    font-size: 2.25rem;
    text-align: center;
    color: #fff;
    font-family: 'nanumsq', sans-serif;
    padding-top: 45px;
  }

  &-txt-tit2{
    font-size: 1.625rem;
    text-align: center;
    color: #fff;
    font-family: 'nanumsq', sans-serif;
    padding-top: 45px;
  }

  &-txt2{
    font-size: 1.125rem;
    text-align: center;
    color: #fff;
  }
}

.list5{
  &.border{
    border: 1px solid #d9d9d9;
    padding: 30px;
  }
}

.event-img{
  width: 700px;
  height: 511px;
  margin:30px 80px;
  text-indent: -9999em;
  background: url(/static/co/images/img_event.jpg) no-repeat;
}


.view-head-info{
  &.event{
    padding: 0;
  }
}

.list-article{
    &.small{
      width: 88px;
      height: 88px;
    }
  }

.board-view{
  &.border{
    border-top: 1px solid #444;
  }

}

.view-head-tit{
  &.complain-table{
    font-weight: normal;
    text-align: center;
  }
}


.object-list{
  &.wide{
    width: 560px;
  }
}

.enter {
  width: 100%;
  padding: 30px 0 30px;
  text-align: center;
  background: #f5f6f7;
  border: 1px solid #e2e5e9;

  &-btn {
    width: 257px;
    height: 70px;
    font-size: 1.125rem;
    color: #fff;
    background: #323648;
    border: 0;
    border-radius: 35px;

    }
  }


