
// 1024 <
@media screen and (max-width:1024px) {
  .loading{
    display:none;
  }

  .web-mark{
    width:auto;
  }
  .footer-graft{
    .multi-col {
      .inner-col {
        margin-top: 0;
      }
    }
  }

  .footer{
    //margin-top:20px;
    //margin-bottom:100px;
    padding:0 0 15px;

    &-align.left{
      width:100%;
      float:none;
    }
    .fnb{
      margin:15px 0 20px;
      &-list{
        &-item{
          margin-left:4px;
          margin-bottom:10px;
          letter-spacing:-1px;
          &:before{
            margin-right:4px;
          }
          &:nth-child(6){
            margin-left:0;
            &:before{
              display:none;
            }
          }
        }
        &-link{
          font-size:0.75rem;
        }
      }
    }
    &-call{
      margin:10px 0 10px 0;
      font-size:1rem;
    }
    &-contact{
      font-size: inherit;
      &-item{
        font-size:0.75em;
        letter-spacing:-.5px;
        &:before{
          display:none;
        }
      }
    }
    &-copyright{
      font-size:0.65rem;
      letter-spacing:-0.5px;
    }
    &-align.right{
      float:none;
      margin-top:0;
    }
    .sns{
      margin-bottom:30px;
      &-list{

        float:none;
        width:100%;
        margin:auto;
        &-item{
          display:inline-block;
          margin-right:0;
          width:25%;

          &:last-child{
            margin-right:0;
          }


        }
        &-link{
          width:100%;
          height:100%;
        }
      }
    }
    .relsite{
      float:none;
      width:100%;
      .select-list{
        width:100%;
      }
    }
    .incheon-etc{
      .web-mark{
        margin-right:0;
      }
      width:181px;
      margin: 20px auto;
      .footer-shortcut{
        float:none;
        margin-top:2px;
        &-link{
          font-size:0.875rem;
        }
      }
    }
  }



  .footer .incheon-etc {
    width:auto ;
    margin: 10px auto;
  }
  .incheon-etc .google-play-mark{
    position:static!important;
    vertical-align:super;
  }
}

