@media screen and (max-width:1200px) {

  .top{
    &-popup{
      padding:0 20px;
      display:none;

      &-wrap{
        width:100%;
        height:137px;
        margin:20px auto 0;
      }

      &-item{
        width:100%;
      }

      &-article{
        width:100%;
        margin:0 0 10px 0;

        >img{
          width:100%;
        }
      }

      &-control{
        width:100%;

        &-paging{
          margin-top:10px;
          text-align:left;
        }

        &-today{
          bottom:15px;
          right:0;
        }
      }

    }
  }

  .header{
    min-width:inherit;

    &-logo{
      width:170px;
      position:relative;
      left:-4px;
      z-index:0;

      &-link{
        height:23px;
        background-size:cover;
      }
    }

    &-site{
      top:auto;
      bottom:0;
      width:100%;
      left:0;
      padding:30px 0;
      background:#fff;

      &-item{
        width:50%;
        &:first-child{
          padding-left:20px;
        }
        &:last-child{
          padding-right:20px;
        }
      }

      &-link{
        width:100%;
        &.on{
          color:#5171b3;
          border-color:#5171b3;
        }
      }
    }

    &-util{
      display:none;

      &-cs{
        float:none;
        width:100%;
        height:100px;
        padding:60px 0 0 20px;
        background:url(/static/ap/images/bg_airline_city.jpg) no-repeat;
      }

      &-lang{
        width:auto;
        height:auto;
        float:none;
        position:absolute !important;
        bottom:70px !important;

        &.select-link{
          .select-link-default{
            display:none;
          }

          .select-list{
            display:block;
            overflow:visible;
            border:0;
            padding-left:20px;
            position:relative;
            top:0;

            &:after{
              content:"";
              display:block;
              clear:both;
            }

            &-item{
              line-height:inherit;
              text-indent:0;
              float:left;
              padding-right:10px;
              margin-right:10px;
              position:relative;

              &:last-child{
                padding-right:0;
                margin-right:0;

                &:after{
                  display:none;
                }

              }

              &:after{
                content:"";
                display:block;
                width:1px;
                height:100%;
                background:#999;
                position:absolute;
                top:0;
                right:0;
              }
            }

            &-link{
              font-size:0.875rem;
            }
          }
        }
      }
    }

    &-search{

      position:absolute;
      top:20px !important;
      left:20px !important;
      right:auto !important;
      padding-right:0 !important;

      &:after{
        content:"";
        display:block;
        clear:both;
      }

      &-item{
        float:left;
        margin-left:0;

        &.gnb-search{
          margin-left:0;
          float:left;
          // 임시 위치조정
          position:absolute;
          top:15px;
          right:15px;
          text-align:right;
          width:38px;
          background:#6281c1;
          border-radius:20px;
          overflow:hidden;
          transition:all .3s ease-out;
          z-index:10;


          &.on{
            width:80%;
          }
        }
      }

      &-btn{
        background:none;
        border:none;
        //padding:0;
        cursor:pointer;
        color:#222;

        &.gnb{
          &-map{
            //background: #f79646;
            //border-radius: 20px;
            color: #fff;
            width:auto;
            height:19px;
            padding:4px 10px 6px 32px;
            background:#439096;
            text-indent:0;
            border-radius:20px;
            box-sizing:content-box;

            &:after{
              content:"";
              display:block;
              width:25px;
              height:25px;
              margin:0;
              background: url(/static/ap/images/ico_link_header_search.png) no-repeat;
              position:absolute;
              top:2px;
              left:2px;
            }

            /* &:after{
               background-position:-154px -131px;
               width: 22px;
               height: 27px;
             }*/

          }

          &-search{
            //width:22px;
            //height:27px;

            color: #fff;
            width:auto;
            height:19px;
            padding:4px 10px 6px 32px;
            background:#6281c1;
            text-indent:-99999em;
            border-radius:20px;
            box-sizing:content-box;
            position:relative;
            z-index:10;

            &:after {
              content:"";
              display:block;
              width:25px;
              height:25px;
              margin:0;
              background: url(/static/ap/images/ico_link_header_search.png) no-repeat -35px 0;
              position:absolute;
              top:2px;
              left:2px;
            }
          }
        }

      }

      &-input{
        display:block;
        width:60%;
        height:25px;
        border:0;
        position:absolute;
        top:2px;
        right:70px;
        background:transparent;
        color:#fff;
        font-weight:400;
        font-size:14px;
        line-height:14px;

        &::-webkit-input-placeholder {
          color: #fff;
        }
        &::-moz-placeholder {
          color: #fff;
        }
        &:-ms-input-placeholder {
          color: #fff;
        }
        &:-moz-placeholder {
          color: #fff;
        }

        &.mobile-none{
          display:none !important;
        }
      }

      &-close{
        //right:230px;
        left:10px;
        z-index:0;

        &.mobile-none{
          display:none !important;
        }
      }

    }
  }

  .gnb{

    width:90%;
    padding:0;
    height:100%;
    top:0;
    left:-100%;
    z-index:99997;
    //transition:left .3s ease-out;

    &.mobile-on{
      left:0;
      transition:left .3s ease-out;
    }

    &.mobile-off{
      left:-100%;
      transition:left .3s ease-out;
    }

    &-depth1{
      width:100%;
      height:100%;
      padding:20px;
      overflow:auto;
      padding-bottom:210px;

      &-item{
        width:100% !important;
        float:none;
        height:45px;
        //height:266px;
        border-bottom:1px solid #d9d9d9;
        overflow:hidden;

        &:hover:after{
          top:43px;
        }

        &:nth-child(1).on{
          height:190px;
        }

        &:nth-child(2).on{
          height:160px;
        }

        &:nth-child(3).on{
          height:190px;
        }

        &:nth-child(4).on{
          height:160px;
        }

        &:nth-child(5).on{
          height:160px;
        }

        &:nth-child(6).on{
          height:160px;
        }
      }

      &-link{
        line-height:45px;
        padding-left:0;
        position:relative;

        &:after{
          content: '';
          display: block;
          width: 10px;
          height: 6px;
          position: absolute;
          top: 0;
          right: 10px;
          //left: 0;
          bottom: 0;
          margin: auto;
          background: url(/static/ap/images/spr_ico_global.png) no-repeat -416px -102px;;
        }
      }
    }

    &-depth2{
      //display:none;
      height:auto;
      border:0!important;
      margin-top:0;
      padding:10px 0 0 10px;

    }

    &-mobile-btn{
      display:block;
      width:19px;
      height:14px;
      padding:0;
      border:none;
      background:none;
      text-indent:-99999em;
      position:absolute;
      top:22px;
      left:25px;

      &:before, &:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: #222;
        position:absolute;
        top:0;
        left:0;
      }

      &:after{
        top:6px;
      }

      span{
        display:block;
        width:13px;
        height:2px;
        background:#222;
        text-indent:-99999em;
        position:absolute;
        bottom:0;
        left:0;
      }

      &-close{
        width: 22px;
        height: 22px;
        border: 0;
        background: url(/static/ap/images/ico_airplane_info_close.png) no-repeat;
        position: absolute;
        top: 10px;
        right: 10px;
        text-indent: -99999em;
      }
    }

    &:after{
      display:none;
    }

    &.bg{
      .header-search{

        &-item{
          &.gnb{
            &-map-wrap{

            }

            &-search{
              position:relative;
              top:auto;
              left:auto;
              float:left;
              margin-left:10px;
            }
          }
        }

      }
    }

  }

  .quick{

    width:60px;
    height:60px;
    border-radius:50%;
    top:auto;
    bottom:15px;
    right:15px;
    transform:none;

    z-index:99998;


    &-menu-list{
      background:none;
      border-radius:0;

      &.quick-on{
        .quick-menu-list-item{
          width:auto;

          opacity:1;
          transition:all .2s ease-out;

          &:nth-child(1){
            bottom:310px;
          }

          &:nth-child(2){
            bottom:250px;
          }

          &:nth-child(3){
            bottom:190px;
          }

          &:nth-child(4){
            bottom:130px;
          }

          &:nth-child(5){
            bottom:70px;
          }

        }
      }

      &.quick-off{
        .quick-menu-list-item{

          transition:all .2s ease-out;
        }
      }

      &-item{
        width:50px;
        padding:0;
        text-align:center;
        position:absolute;
        white-space:nowrap;
        right:5px;
        bottom:0;
        opacity:0;

        &.top{
          display:none;
        }

      }

      &-link{
        height:50px;
        padding:7px 60px 0 0;
        position:relative;
        color:#fff;

        &.my-terminal:before{
          height:21px;
        }

        &.view-airport:before{
          height:16px;
          right:5px
        }

        &.move-terminal:before{
          height:18px;
          right:13px;
        }

        &.online-reserve:before{
          height:26px;
          right:12px;
        }

        &.travel-info{
          padding-top:14px;
          &:before{
            height: 24px;
            right:13px;
          }
        }

        &:before{
          position:absolute;
          top:50%;
          right:16px;
          transform:translateY(-50%);
          z-index:1;
        }

        &:after{
          content:"";
          display:block;
          width:50px;
          height:50px;
          border-radius:50px;
          background:#272936;
          position:absolute;
          top:0;
          right:0;
          z-index:0;
          box-shadow: 1px 1px 5px rgba(0,0,0,.2), 0 2px 10px rgba(0,0,0,.3);
        }
      }
    }

    &-toggle{
      display:block;
      width:100%;
      height:100%;
      border:0;
      background:#439096;
      position:relative;
      right:0;
      text-indent:-99999em;
      z-index:10;
      opacity:0;
      border-radius:50%;
      box-shadow: 1px 1px 5px rgba(0,0,0,.2), 0 2px 10px rgba(0,0,0,.3);


      &.on{
        opacity:1;
        transition:opacity .3s ease-out;
      }

      &.close{
        transform:rotate(45deg);
      }

      &:before{
        content:"";
        display:block;
        width:1px;
        height:20px;
        background:#fff;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
      }

      &:after{
        content:"";
        display:block;
        width:20px;
        height:1px;
        background:#fff;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
      }
    }

    &.none{
      display:none;
    }

  }

}