@media screen and (max-width:1080px){

  .en{

    .list1{
      &-item{
        text-align:left;
      }
    }
    .list2{
      &-item{
        text-align:left;
      }
    }

    .table{
      &.table-block{
        .list1-item{
          text-align: center;
        }
        .list2-item{
          text-align: center;
        }
      }
    }

    /*검색*/
    .search-box{
      border:none;
      &-title{
        float: none;
        top:0;
      }
    }

    .main-visual-news-title{
      height:22px;
    }

    .gnb-depth1{
      width:auto;
    }

    .list2-item{
      text-align: left;
    }

    .co-history-list-year{
      display: inline-block;
    }

    .main-visual-news{
      &-section{
        &.last{
          .main-visual-news-txt{
            &.tab{
              width: 100%;
              .main-list{
                width: 90%;
              }
            }
          }
        }
      }
      &-title{
        font-size: 1rem;
      }
      &-txt{
        font-size: 0.75rem;
        //letter-spacing: -1px;
        margin-top:0;
        width: 60%;
        br{
          display: none;
        }
      }
    }
    .main-section2-text{
      min-height: inherit;
      &-box{
        height: auto;
      }
      &-list{
        margin-top: 0;
      }
    }


  }

  .ch{

      .gnb-depth1{
        width: auto;
      }

      .co-history-list-year{
        display: inline-block;
      }

      .main-visual-news{
        &-section{
          &.last{
            .main-visual-news-txt{
              &.tab{
                width: 100%;
                .main-list{
                  width: 90%;
                }
              }
            }
          }
        }
        &-title{
          font-size: 1rem;
        }
        &-txt{
          font-size: 0.75rem;
          letter-spacing: -1px;
          margin-top:0;
          width: 60%;
          br{
            display: none;
          }
        }
      }
      .main-section2-text{
        min-height: inherit;
        &-box{
          height: auto;
        }
        &-list{
          margin-top: 0;
        }
      }


  }


  .ja{

    .gnb-depth1{
      width: auto;
    }

    .co-history-list-year{
      display: inline-block;
    }

    .main-visual-news{
      &-section{
        &.last{
          .main-visual-news-txt{
            &.tab{
              width: 100%;
              .main-list{
                width: 90%;
              }
            }
          }
        }
      }
      &-title{
        font-size: 1rem;
      }
      &-txt{
        font-size: 0.75rem;
        letter-spacing: -1px;
        margin-top:0;
        width: 60%;
        br{
          display: none;
        }
      }
    }
    .main-section2-text{
      min-height: inherit;
      &-box{
        height: auto;
      }
      &-list{
        margin-top: 0;
      }
    }

  }

}

