.en{

  .sub-contents-heading2{
    text-align: left;
    line-height: 1.3;
  }

  .guidebox-btn{
    word-break: keep-all;
    display: inline-block;
    max-width: 220px;
    line-height: 1.3;
  }

}

.ch{

  * {
    font-family: 'Noto Sans SC', roboto, spoqa ,sans-serif!important;
  }

}


.ja{
  * {
    font-family: 'Noto Sans JP', roboto, spoqa, sans-serif!important;
  }
  .table.vt-dark td{
    word-break: break-all;
  }
}